<section class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            「三人寄れば文殊の知恵」
          </p>
          <p class="subtitle">
            みんなで作り、みんなで学ぶ。共同作業を通じて、より深くプログラミングを学びましょう！
          </p>
        </div>
        <div class="column is-narrow">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">What's about Benicky?</h1>
    <hr>
    <h2 class="subtitle">べニッキーは、はじめての「共同開発」への参加をサポートするサービスです。</h2>
    <div class="columns has-text-centered">
      <div class="column">
        <div class="block">
          <i class="far fa-file-code fa-7x"></i>
        </div>
        <div class="block">
          <h3 class="subtitle is-3">集団でつくる</h3>
          <p>1人でゼロから書くのではなく、プロジェクトに参加してみましょう。</p>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <i class="fas fa-comments fa-7x"></i>

        </div>
        <div class="block">
          <h3 class="subtitle is-3  margin-top">議論する</h3>
          <p>仲間のコードから学び、issueを立て、プルリクエストで議論をし、一緒に作業をしましょう。</p>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <i class="fas fa-users fa-7x"></i>
        </div>
        <div class="block">
          <h3 class="subtitle is-3  margin-top">つながる</h3>
          <p>プログラミングに熱心に取り組む仲間を見つけ、互いを高めあいましょう</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">募集中のプロジェクト</h1>
    <hr>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= image_tag "tottokotkd.jpg" %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Benicky</strong> <a href="https://twitter.com/tottokotkd"><small>@tottokotkd</small></a> <small>2/17 (2018)</small> 募集人数: ∞, 作業期間: ∞<br>
            　このサイトを作ります。上でなんか偉そうなこと書いてますが、全然未完成です！ このページ1枚しかない！ 誰でもいいから助けてー！
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item"
               target="_blank"
               href="https://twitter.com/tottokotkd">
              <span class="icon is-small"><i class="fas fa-reply"></i></span>
            </a>
            <a class="level-item"
               target="_blank"
               href="https://twitter.com/intent/tweet?text=プログラミング初心者が共同作業を学ぶ「べニッキー」&amp;hashtags=べニッキー&amp;url=http://benicky.io&amp;via=tottokotkd">
              <span class="icon is-small"><i class="fas fa-retweet"></i></span>
            </a>
            <a class="level-item"
               target="_blank"
               href="https://twitter.com/tottokotkd">
              <span class="icon is-small"><i class="fas fa-heart"></i></span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
</section>
