<div class="container">
  <nav class="navbar is-transparent">
    <div class="navbar-brand is-size-4">
      <a class="navbar-item wf-nicomoji" href="/">
        べニッキー
      </a>
      <div class="navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu is-size-5" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button"
                 target="_blank"
                 href="https://gitlab.com/tottokotkd/benicky">
                <span class="icon">
                  <i class="fab fa-gitlab"></i>
                </span>
                <span>GitLab</span>
              </a>
              <a class="button"
                 target="_blank"
                 href="https://twitter.com/intent/tweet?text=プログラミング初心者が共同作業を学ぶ「べニッキー」&amp;hashtags=べニッキー&amp;url=https://benicky.io&amp;via=tottokotkd">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>Tweet</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
